sudo: required

language: java

services:
  - docker

script: make

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push saver/mendelson-as2:1.1b51;
    fi
